/*About*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  color: #444444;
}

.about-container {
  text-align: center;
}
.about-container h1 {
  font-size: 4em;

  padding-top: 30px;
}
.about-container h2 {
  font-size: 2em;

  padding-top: 20px;
}
h1 .name {
  font-weight: bold;
  color: #2978b5;
}
.about-content {
  max-width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  text-align: left;
  padding-bottom: 3em;
  padding-top: 25px;
}
.btn {
  border: 2px solid #2978b5;
  padding: 15px 25px;
  border-radius: 0.2em;
  margin-bottom: 30px;
  text-decoration: none;
  color: #2978b5;
  transition: background-color cubic-bezier(0.25, 0.1, 0.25, 1);
}
.btn:hover {
  background-color: #2978b5;
  color: #fcfcfc;
}
.link {
  text-decoration: none;
  color: #444;
  font-size: 1.4em;
  padding-left: 20px;
  margin-top: 3000px;
}
.link:hover {
  color: #2978b5;
  cursor: pointer;
}

/*Projecct*/

.container h1 {
  text-align: center;
  margin-top: 60px;
  padding-bottom: 35px;
}

.project-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 1fr;*/
  grid-column-gap: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
.project {
  text-align: center;
  box-shadow: 5px 5px 7px 1px #676767;
  padding-bottom: 30px;
}
/*.project--2 {
  margin-left: 14%;
  margin-right: 14%;
}
.project--1 {
  margin-left: 30%;
}
.project--3 {
  margin-right: 30%;
}*/
.project h3 {
  padding-top: 30px;
}
.project p {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.project--1 p {
  margin-bottom: 40px;
}
.components-used {
  list-style: none;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 40px;
  padding-top: 20px;
}
.link--to-site {
  text-decoration: none;
  color: #444444;
  font-size: 1.6em;
  padding-left: 20px;
  padding-right: 20px;
}
.link--to-site:hover {
  cursor: pointer;
  color: #2978b5;
}

/*Skills*/

.head {
  text-align: center;
  padding-top: 70px;
}
.skill-list {
  list-style: none;
  max-width: 400px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 20px;
  padding-top: 20px;
}

.skill-list-item {
  padding: 10px 9px;
  border-radius: 0.1;
  min-width: 40px;
  box-shadow: 0.5px 1px 5px 1px #ddd6d6;
  font-weight: 500;
}
/*contact*/
.head {
  margin-bottom: 60px;
}
.btn--mail {
  margin-bottom: 40px;
}

/*footer*/
.footer {
  display: flex;
  justify-content: center;
  column-gap: 40%;
  padding-left: 30%;
  padding-bottom: 50px;
  padding-top: 100px;
}

.arrowup {
  font-size: 1.5em;
}

/*Navigation*/
.avtaar-img {
  width: 40px;
  height: auto;
  position: absolute;
  left: 10%;
  top: 60px;
}
.navlist {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 70%;
  margin-right: 10%;
  padding-top: 70px;
  padding-bottom: 60px;
}
.navlist li a {
  text-decoration: none;
  font-weight: bold;
}
.decoration {
  transition-property: border-bottom;
  transition-timing-function: ease-out;
  color: #444;
}
.decoration:hover {
  border-bottom: solid 3px #2978b5;
  color: #2978b5;
}
.moon {
  position: absolute;
  right: 80px;
  top: 70px;
}
.sunbody {
  background-color: #23283e;
  color: #ccccff;
}

.navondark {
  transition-property: border-bottom;
  transition-timing-function: ease-out;
  color: #cdcdff;
}
.navondark:hover {
  border-bottom: solid 3px #2978b5;
  color: #2978b5;
}
.hamburger--bar {
  display: none;
}

@media (max-width: 1006px) {
  .avtaar-img {
    display: none;
  }
  .navlist {
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 100%;
    height: 100%;
    background: #23283e;
  }
  .navlist-hide {
    display: none;
  }
  .navlist li {
    margin-right: 500px;
  }
  .hamburger--bar {
    display: flex;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5em;
  }
  .about-container {
    padding-top: 80px;
  }
  .moon {
    position: absolute;
    right: 10%;
    top: 12px;
    font-size: 1.2em;
  }
  .project-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr;*/
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .decoration {
    color: #ddd6d6;
  }
}
@media (max-width: 600px) {
  .moon {
    padding-right: 4%;
  }
  .navlist li {
    margin-right: 200px;
  }
  .project-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
  }
  .project--2,
  .project--1,
  .project--3 {
    margin: 10px;
  }
  .about-container h1 {
    font-size: 2.6em;
  }
  .about-content {
    max-width: fit-content;
    max-width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .footer h3 {
    font-size: 0.9em;
  }
  .components-used {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5%;
    padding-bottom: 30px;
  }
}
